@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

:root {
  --black: #222831;
  --gray: #393e46;
  --light: #eeeeee;
  --accent: #00adb5;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

/* hiding scrollbar */
/* body {
  overflow-x: hidden;
} */

.btn {
  padding: 0.5rem;
  
}

nav a {
  text-decoration: none;
  color: var(--black);
}

.hero a {
  text-decoration: none;
  color: var(--black);
  font-size: xx-large;
  padding-top: 2rem;
}

footer a {
  color: white;
}

a:hover {
  color: var(--accent);
}

#bg {
  position: fixed;
  z-index: -100;
  width: 100;
  height: 140vh;
  opacity: 30%;
  animation: subtleMovement 30s infinite alternate ease-in-out;
}

@keyframes subtleMovement {
  0% {
    transform: translate(-1%, -1%) scale(1);
  }
  50% {
    transform: translate(1%, 1%) scale(1.02);
  }
  100% {
    transform: translate(-1%, -1%) scale(1);
  }
}

nav {
  padding: 0.2rem;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: rgba(255, 255, 255, 0.8);
}

nav div {
  display: flex;
  gap: 5rem;
}

.hero {
  height: 80vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero p {
  font-size: 4.5rem;
  color: var(--black);
}

.bahari {
  padding-left: 15rem;
}

.fullstack {
  font-weight: 700;
  margin-left: -5rem;
}

.webdev {
  font-weight: 700;
  padding-left: 25rem;
  white-space: nowrap;
}

.subtle-shadow {
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.25);
}

.experience {
  margin-top: 2rem;
  margin-bottom: 5rem;
  padding: 2rem;
}

.experience h2 {
  font-size: 3rem;
  text-align: center;
}

.experience-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.experience-card img {
  width: 100%;
}

.projects h2 {
  font-size: 3rem;
  text-align: center;
}

.projects {
  margin-top: 2rem;
  padding: 1rem;
}

.card-container {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 5rem;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  height: 400px;
  width: 250px;
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
}

.card img {
  width: 100%;
  margin: 0.5rem 0 0.5rem 0;
}

.card p {
  font-size: medium;
}

.card a {
  color: black;
}

.card a:hover {
  color: var(--accent);
}

.story {
  background-color: white;
  width: 60vw;
  padding: 2rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.story h2 {
  font-size: 2.1rem;
}

.story p {
  font-size: 1.5rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#expand {
  padding: 0.5rem;
  border: none;
  height: 3rem;
  width: 15rem;
  background-color: var(--black);
  color: white;
  margin: auto;
}

#expand:hover {
  background-color: var(--gray);
}

#expand:active {
  background-color: black;
}

.tech-stack {
  display: flex;
}

footer {
  background-color: var(--black);
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

footer h2,
footer p {
  color: white;
}

svg:hover #whatsapp {
  fill: #25d366;
}

svg:hover #github {
  fill: #161414;
}

svg:hover #linkedin {
  fill: #0077b5;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

@media (max-width: 1000px) {
  .hero p {
    font-size: 1.5rem;
  }
  .bahari {
    padding-left: 5rem;
  }
  .fullstack {
    margin-left: -5rem;
  }
  .webdev {
    padding-left: 10rem;
  }
  footer {
    height: 10vh;
  }
  footer p h2 {
    font-size: small;
  }
  svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 550px) {
  .hero p {
    font-size: xx-large;
  }
  .bahari {
    padding-left: 5rem;
  }
  .fullstack {
    margin-left: -5rem;
  }
  .webdev {
    padding-left: 5rem;
  }
  nav a {
    font-size: small;
  }
  nav {
    padding: 0.2rem;
    justify-content: space-between;
    gap: 0.5rem;
  }
  nav div {
    gap: 0.5rem;
  }
  .story {
    width: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    gap: 1rem;
  }
  .story h2 {
    font-size: large;
  }
  .story p {
    font-size: small;
  }
  footer {
    height: 10vh;
  }
  footer p, h2{
    font-size: xx-small;
  }
  svg {
    width: 25px;
    height: 25px;
  }
}
